@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Language> localizer
@{
    ViewData["Title"] = localizer["Privacy Policy"].Value;
}
<h1>@ViewData["Title"]</h1>

<p>@localizer["Use this page to detail your site's privacy policy."].Value</p>
